body {
background-color: white;
}

.first-box {
 background-image: url(assets/career1.jpg);
 background-repeat: no-repeat;
}

.box-2 {
background-image: url(assets/career2.jpg);
background-repeat: no-repeat;
}

.grid-container {
    margin: auto auto auto auto;

}
.grid-items {
    padding: 0px;
}

.images{
margin-top: 0px ;
}

.box {
position: absolute;
}